<tr>
    <td><button class="btn btn-primary" ng-hide="ajaxFlag || editandoFlag"><i
            class="glyphicon glyphicon-pencil" ng-click="editar()" ></i></button></td>
    <img src="/static/img/ajax.gif" ng-show="ajaxFlag"/>
    <td>{{ peca.id }}</td>
    <td><span ng-hide="editandoFlag">{{ peca.title }}</span><input ng-show ="editandoFlag" type="text" ng-model="pecaEdicao.title"></td>
    <td>{{ peca.price }}</td>
    <td>{{ peca.amount }}</td>
    <td>
        <button class="btn btn-danger" ng-hide="ajaxFlag"><i
                class="glyphicon glyphicon-trash"
                ng-click="deletar()"></i></button>
        <img src="/static/img/ajax.gif" ng-show="ajaxFlag"/>
    </td>
</tr>