<tr>
    <td><button  ng-click="editar()" class="btn btn-primary" ng-hide="ajaxFlag || editandoFlag"><i
            class="glyphicon glyphicon-pencil"></i></button>
        <button ng-click="completarEdicao()" class="btn btn-success" ng-hide="ajaxFlag || !editandoFlag"><i
                class="glyphicon glyphicon-floppy-save"></i></button>
        <button ng-click="cancelar()" class="btn btn-warning" ng-hide="ajaxFlag || !editandoFlag"><i
                class="glyphicon glyphicon-floppy-remove"></i></button></td>

    <img src="/static/img/ajax.gif" ng-show="ajaxFlag"/>
    <td><{{ peca.id }}</td>
    <td><span ng-hide="editandoFlag">{{ peca.title }}</span> <input class="form-control" ng-show="editandoFlag" type="text" ng-model="pecaEdicao.title"></td>
    <td><span ng-hide="editandoFlag">{{ peca.price }}</span> <input class="form-control" ng-show="editandoFlag" type="text" ng-model="pecaEdicao.price"></td>
    <td><span ng-hide="editandoFlag">{{ peca.amount }}</span> <input class="form-control" ng-show="editandoFlag" type="text" ng-model="pecaEdicao.amount"></td>

    <td>
        <button ng-click="deletar()" class="btn btn-danger" ng-hide="ajaxFlag"><i
                class="glyphicon glyphicon-trash"></i></button>
        <img src="/static/img/ajax.gif" ng-show="ajaxFlag"/>
    </td>
</tr>