{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
<body style="background:#D8D8D8">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/home"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Empresa</a>
						</li>
						<li>
							<a href="/produtos"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Produtos</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Informações<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/home"> <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Fale Conosco</a>
								</li>
								<li>
									<a href="/trabalheconosco"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Trabalhe Conosco</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input class="form-control" type="text" />
						</div> <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Pesquisar</button>
					</form>
				</div>

			</nav>
            <form role="form">
				<div class="form-group" style="margin-top: 100px">
					 <label for="exampleInputEmail1">Nome</label><input class="form-control" id="exampleInputName" type="nome" />
				</div>
				<div class="form-group">
					 <label for="exampleInputPassword1">Email</label><input class="form-control" id="exampleInputEmail1" type="email" />
				</div>
				<div class="form-group">
					 <label for="exampleInputFile">Curriculo </label><input id="exampleInputCurriculo" type="anexo" />
				</div>
                    <button type="submit" class="btn btn-default">Enviar</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}