{% extends 'base/base.html' %}
{% block js %}
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/peca/js/peca.js"></script>
{#    <script type="text/javascript" src="/static/peca/js/pecas_api_mock.js">#}
    <script type="text/javascript">

        var rest = angular.module('rest',[]);
        rest.factory('PecaApi',function($http){
            return {
                salvar:function(peca) {
                    return $http.post('{{ rest_new_path }}', peca);

                },
                listar:function(){
                    return $http.post('{{ rest_list_path }}');
                },
                deletar:function(id) {
                    return $http.post('{{ rest_delete_path }}', {id:id});
                },
                editar:function(peca){
                    return $http.post('{{ rest_edit_path }}',{id:peca.id,title:peca.title,
                        price:peca.price,amount:peca.amount});
                }
            };
        });

        var cursoApp = angular.module('pecaApp',['pecaModule','rest']);
        function PecaController($scope,PecaApi){
            $scope.mostrarFormFlag=false;
            $scope.peca={title:'', price:'', amount:''};
            $scope.pecalista=[];
            $scope.listandoFlag=true;
            PecaApi.listar().success(function(pecas_lista){
                console.log(pecas_lista)
                $scope.pecalista = pecas_lista;
            });;
            $scope.listandoFlag=false

            $scope.mostrarOuEsconderForm=function(){
                $scope.mostrarFormFlag=!$scope.mostrarFormFlag;
            };

            $scope.adicionarPeca=function(peca){
                $scope.pecalista.unshift(peca);
            };

            $scope.removerPeca=function(peca){
                PecaApi.listar().success(function(pecas_lista){
                    $scope.pecalista = pecas_lista;
                });

                var pecalista = $scope.pecalista;
                for(var i = 0 ; i < pecalista.length;i+=1){
                    if(peca.id==pecalista[i].id   ){
                        pecalista.splice(i, 1);
                        break;
                    }
                }

            }

            $scope.editarPeca=function(peca){

            }
        }
    </script>

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br/>

                <div class="well" ng-app="pecaApp" ng-controller="PecaController">
                    <h1 class="text-center">Tabela de Peças </h1>

                <button class="btn btn-success" ng-click="mostrarOuEsconderForm()"> Nova Peça </button>
                <br/>
                <br/>
                <pecaform ng-show="mostrarFormFlag" peca="peca"  save-complete="adicionarPeca(peca)"></pecaform>
                    <table class="table">
                        <thread>
                            <tr>
                                <th></th>
                                <th>id</th>
                                <th>Titulo</th>
                                <th>Preço</th>
                                <th>Quantidade</th>
                                <th></th>
                            </tr>
                        </thread>
                        <tbody>
                            <tr pecalinha ng-repeat="p in pecalista" peca="p" delete-complete="removerPeca(peca)"></tr>
                        </tbody>
                    </table>
                    <img src="/static/img/ajax.gif" ng-show="listandoFlag" />

                </div>
            </div>
        </div>
    </div>

{% endblock %}